body{
    margin: 0;
    padding: 0;
}
.container-1{
    margin: 0 auto;
    width: 900px;
    border: 4px double #000000;
    margin-top: 8px;
}
.container-2{
    margin: 0 auto;
    width: 60%;
    
}
ul{
    list-style-type: none;
    border-top: 2px double #000000;
    border-bottom: 1px double #000000;
    padding: 5px;
    text-align: center;
    word-spacing: 30px;
}
ul>li{
    display: inline;
    border-top: 2px;
}
p{
    text-align: center;
}
.image-1{
    width: 540px;
    height: 250px;
    
}
p{
    text-align: center;
}
.container-3{
    border: 4px double #000000;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
}
.image-2{
    margin-left: 20em;
    margin-top: 0.5em;
    width: 150px;
    height: 100px;
}
li:hover{
    color: coral;
}